// Predefined Break-points
// Predefined Break-points
$mediaMaxWidth: 1260px;
$mediaBp1Width: 960px;
$mediaMinWidth: 436px;

@function translate-media-condition($c) {
  $condMap: (
    'screen': 'only screen',
    'print': 'only print',
    'retina':
      '(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 1.5), (min-resolution: 120dpi)',
    '>maxWidth': '(min-width: #{$mediaMaxWidth + 1})',
    '<maxWidth': '(max-width: #{$mediaMaxWidth})',
    '>bp1Width': '(min-width: #{$mediaBp1Width + 1})',
    '<bp1Width': '(max-width: #{$mediaBp1Width})',
    '>minWidth': '(min-width: #{$mediaMinWidth + 1})',
    '<minWidth': '(max-width: #{$mediaMinWidth})',
  );
  @return map-get($condMap, $c);
}

// The mdia mixin
@mixin media($args...) {
  $query: '';
  @each $arg in $args {
    $op: '';
    @if ($query != '') {
      $op: ' and ';
    }
    $query: $query + $op + translate-media-condition($arg);
  }
  @media #{$query} {
    @content;
  }
}

@font-face {
  font-family: 'Kanit';
  src: local('Kanit'), url(./assets/fonts/Kanit-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Kanit-SemiBold';
  src: local('Kanit-SemiBold'),
    url(./assets/fonts/Kanit-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Kanit-Bold';
  src: local('Kanit-Bold'),
    url(./assets/fonts/Kanit-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Kanit-Regular';
  src: local('Kanit-Regular'),
    url(./assets/fonts/Kanit-Regular.ttf) format('truetype');
}

button,
input,
select,
textarea,
a,
p,
label,
span,
td,
tr,
div {
  font-family: Kanit;
}

h1,
h2,
h3 {
  font-family: Kanit-SemiBold;
}

h4,
h5 {
  font-family: Kanit-Bold;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.d-flex {
  display: flex;
}

div#root {
  overflow-x: hidden !important;
}

.logo-topbar {
  height: 32px;
}

.MuiToolbar-regular {
  min-height: 45px !important;
}

.text-theme-blue {
  color: #0c4da2 !important;
}

.MuiTypography-body1 {
  font-family: Kanit !important;
}

.share-container {
  height: 170px;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 9999;
  background: white;
  @include media('retina') {
  }
  @include media('screen', '>bp1Width', '<maxWidth') {
  }
  @include media('screen', '>minWidth', '<bp1Width') {
  }
  @include media('screen', '<minWidth') {
  }
  .header {
    height: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: #ccc 1px solid;
    span {
      font-family: Kanit-Regular;
      font-size: 20px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.25;
      letter-spacing: normal;
      text-align: center;
      color: #0c4ea4;
    }
  }
  .share-button {
    margin-top: 22px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      div.circle {
        border: solid 1px #b0b8c6;
        border-radius: 20px;
        background-color: #ffffff;
        padding: 10px;
        margin-bottom: 5px;
      }
    }
    span {
      font-family: Kanit;
      font-size: 11.5px;
      color: #697288;
    }
    svg {
      border-radius: 5px;
    }
  }
  .copy-button {
    margin-top: 22px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: #ccc 1px solid;
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
      div.circle {
        border: solid 1px #b0b8c6;
        border-radius: 20px;
        background-color: #ffffff;
        padding: 10px;
      }
    }
    span {
      font-family: Kanit;
      font-size: 11.5px;
      color: #697288;
    }
  }
}

.bottom-button {
  height: 66px;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 9998;
  background: white;
  box-shadow: 2.5px 1.7px 8px 0 rgba(12, 77, 162, 0.23),
    5.7px 2px 30px 0 rgba(39, 176, 223, 0.25), inset 9.2px 9.2px 26px 0 #ffffff,
    inset -9.2px -9.2px 26px 0 rgba(105, 217, 255, 0.15);
  padding: 10px 20px;
  @include media('retina') {
  }
  @include media('screen', '>bp1Width', '<maxWidth') {
  }
  @include media('screen', '>minWidth', '<bp1Width') {
  }
  @include media('screen', '<minWidth') {
  }
  div {
    height: 100%;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 4.9px 4.9px 30px 0 rgba(8, 66, 141, 0.3),
      -6.6px -4.6px 30px 0 rgba(39, 176, 223, 0.25),
      inset 6.9px 1.1px 18px 0 rgba(17, 107, 223, 0.36),
      inset -9.2px -9.2px 26px 0 rgba(12, 77, 162, 0.15);
    font-size: 12px;
    color: white;
    background-image: linear-gradient(to top, #0c4da2, #0c4da2, #175bb4);
    span {
      font-size: 16px;
      font-family: Kanit-Regular;
      margin-left: 8px;
    }
  }
  div.disabled {
    background-color: #6d7481;
    pointer-events: none;
    background-image: none;
    box-shadow: none;
  }
  div.summary {
    box-shadow: 4.9px 4.9px 30px 0 rgba(65, 135, 67, 0.3),
      -6.6px -4.6px 30px 0 rgba(84, 187, 80, 0.25),
      inset 6.9px 1.1px 18px 0 rgba(81, 196, 91, 0.36),
      inset -9.2px -9.2px 26px 0 rgba(39, 107, 41, 0.15);
    background-color: #438940;
    background-image: none;
  }
}
