$mediaMaxWidth: 1260px;
$mediaBp1Width: 960px;
$mediaMinWidth: 480px;

@function translate-media-condition($c) {
  $condMap: (
    "screen": "only screen",
    "print": "only print",
    "retina":
      "(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 1.5), (min-resolution: 120dpi)",
    ">maxWidth": "(min-width: #{$mediaMaxWidth + 1})",
    "<maxWidth": "(max-width: #{$mediaMaxWidth})",
    ">bp1Width": "(min-width: #{$mediaBp1Width + 1})",
    "<bp1Width": "(max-width: #{$mediaBp1Width})",
    ">minWidth": "(min-width: #{$mediaMinWidth + 1})",
    "<minWidth": "(max-width: #{$mediaMinWidth})",
  );
  @return map-get($condMap, $c);
}

// The mdia mixin
@mixin media($args...) {
  $query: "";
  @each $arg in $args {
    $op: "";
    @if ($query != "") {
      $op: " and ";
    }
    $query: $query + $op + translate-media-condition($arg);
  }
  @media #{$query} {
    @content;
  }
}

/**
 * Usage examples
 */
.section-header-container {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    #8cc63f !important;
}

.hero-image {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
  #8cc63f !important;
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-image2 {
  background: white !important;
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.header-text-center {
  text-align: center;
  border: 3px;
}

.code-box-demo {
  text-align: center;
}
.ant-layout-header,
.ant-layout-footer {
  background: #8cc63f;
  color: #ffffff;
  font-size: 18px;
  font-family: Noto Sans Thai;
  font-style: normal;
  font-weight: 600;
}

::ng-deep .ant-tabs-nav {
  width: 100% !important;
}

::ng-deep .ant-tabs-tab {
  flex: 1;
  text-align: center;
}

::ng-deep .ant-tabs-nav > div:nth-of-type(1) {
  display: flex !important;
  width: 100% !important;
}

.card-position {
  position: absolute;
  left: 4%;
  right: 4%;
  top: 88.34%;
  bottom: -56.48%;

  background: #ffffff;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.section-container-ID {
  @include media("retina") {
  }
  @include media("screen", ">bp1Width", "<maxWidth") {
  }
  @include media("screen", ">minWidth", "<bp1Width") {
  }
  @include media("screen", "<minWidth") {
    margin-top: 0px;
  }
}

.center2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  object-position: 0px 25px;
  width: 30%;
  @include media("retina") {
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    object-position: 0px 25px;
    width: 30%;
  }
  @include media("screen", ">bp1Width", "<maxWidth") {
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    object-position: 0px 25px;
    width: 30%;
  }
  @include media("screen", ">minWidth", "<bp1Width") {
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    object-position: 0px 25px;
    width: 30%;
  }
  @include media("screen", "<minWidth") {
    object-position: 0px 20px;
    width: 60%;
    float: left;
  }
}

.card-body {
  height:"80vh";
  @include media("retina") {
    height:"80vh";
  }
  @include media("screen", ">bp1Width", "<maxWidth") {
    height:"80vh";
  }
  @include media("screen", ">minWidth", "<bp1Width") {
    height:"80vh";
  }
  @include media("screen", "<minWidth") {
    height:"80vh"
  }
}


.centered {
  @include media("retina") {
  
  }
  @include media("screen", ">bp1Width", "<maxWidth") {
 
  }
  @include media("screen", ">minWidth", "<bp1Width") {
    
  }
  @include media("screen", "<minWidth") {
    padding-top: 6pc;
  }
}


.card-text-name {
  color: #76777b;
  font-size: 27px;
}

.card-text-name-th {
  color: #76777b;
  font-size: 20px;
}

.card-text-name-th-sub {
  color: #76777b;
  font-size: 18px;
}

.card-text-name-th-sub2 {
  color: #76777b;
  font-size: 15px;
}

.card-text-name-th-qr {
  color: #76777b;
  font-size: 16px;
}

.barcode-container {
  background: linear-gradient(
    293.89deg,
    #fff215 -67.71%,
    #84be4d 4.75%,
    #84be4d 80.44%
  );
  transform: matrix(1, 0, 0, -1, 0, 0);
  height: 100px;
}

.barcode-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  object-position: 0px 25px;
  width: 70%;
  @include media("retina") {
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    width: 70%;
  }
  @include media("screen", ">bp1Width", "<maxWidth") {
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    object-position: 0px 25px;
    width: 70%;
  }
  @include media("screen", ">minWidth", "<bp1Width") {
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    object-position: 0px 25px;
    width: 70%;
  }
  @include media("screen", "<minWidth") {
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    width: 70%;
  }
}

.section-container-qrcode {
  margin-top: 30px;
  @include media("retina") {
  }
  @include media("screen", ">bp1Width", "<maxWidth") {
    margin-top: 30px;
  }
  @include media("screen", ">minWidth", "<bp1Width") {
    margin-top: 30px;
  }
  @include media("screen", "<minWidth") {
    margin-top: 30px;
  }
}

.Qrcode-size {
  width: 100%;
  color: #84bd00;
  @include media("retina") {
  }
  @include media("screen", ">bp1Width", "<maxWidth") {
    width: 100%;
    color: #84bd00;
  }
  @include media("screen", ">minWidth", "<bp1Width") {
    width: 100%;
    color: #84bd00;
  }
  @include media("screen", "<minWidth") {
    width: 100%;
    color: #84bd00;
  }
}

.img-ceo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.am-tabs-default-bar-tab {
  color: #76777b;
  font-weight: bold;
}

.am-tabs-default-bar-tab-active {
  color: #84bd00;
  font-weight: bold;
}

.ant-tabs-ink-bar {
  height: 5px;
  background: green !important;
}




.am-navbar-light {
  background-color: #8cc63f;
  color: #ffff;
  height: 60px;
}


.am-navbar-light .am-navbar-title {
  color: #ffff;
}