$mediaMaxWidth: 1260px;
$mediaBp1Width: 960px;
$mediaMinWidth: 480px;

@function translate-media-condition($c) {
  $condMap: (
    "screen": "only screen",
    "print": "only print",
    "retina":
      "(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 1.5), (min-resolution: 120dpi)",
    ">maxWidth": "(min-width: #{$mediaMaxWidth + 1})",
    "<maxWidth": "(max-width: #{$mediaMaxWidth})",
    ">bp1Width": "(min-width: #{$mediaBp1Width + 1})",
    "<bp1Width": "(max-width: #{$mediaBp1Width})",
    ">minWidth": "(min-width: #{$mediaMinWidth + 1})",
    "<minWidth": "(max-width: #{$mediaMinWidth})",
  );
  @return map-get($condMap, $c);
}

// The mdia mixin
@mixin media($args...) {
  $query: "";
  @each $arg in $args {
    $op: "";
    @if ($query != "") {
      $op: " and ";
    }
    $query: $query + $op + translate-media-condition($arg);
  }
  @media #{$query} {
    @content;
  }
}

/**
 * Usage examples
 */
.section-container {
  margin-top: 70px;
  @include media("retina") {
  }
  @include media("screen", ">bp1Width", "<maxWidth") {
    margin-top: 70px;
  }
  @include media("screen", ">minWidth", "<bp1Width") {
    margin-top: 70px;
  }
  @include media("screen", "<minWidth") {
    margin-top: 70px;
  }
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  object-position: 0px 25px;
  width: 30%;
  @include media("retina") {
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    object-position: 0px 25px;
    width: 30%;
  }
  @include media("screen", ">bp1Width", "<maxWidth") {
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    object-position: 0px 25px;
    width: 30%;
  }
  @include media("screen", ">minWidth", "<bp1Width") {
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    object-position: 0px 25px;
    width: 30%;
  }
  @include media("screen", "<minWidth") {
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    object-position: 0px 25px;
    width: 30%;
  }
}

.section2-login-container {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  padding-top: 30px;
  font-size: 24px;
  color: #76777b;
  font-weight: 500;
  line-height: 36px;
  @include media("retina") {
  }
  @include media("screen", ">bp1Width", "<maxWidth") {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    padding-top: 30px;
    font-size: 24px;
    color: #76777b;
    font-weight: 500;
    line-height: 36px;
  }
  @include media("screen", ">minWidth", "<bp1Width") {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    padding-top: 30px;
    font-size: 24px;
    color: #76777b;
    font-weight: 500;
    line-height: 36px;
  }
  @include media("screen", "<minWidth") {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    padding-top: 50px;
    font-size: 24px;
    color: #76777b;
    font-weight: 500;
  }
}

.text-line {
  background-color: transparent;
  color: #eeeeee;
  outline: none;
  outline-style: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid #e0e0e0 1px;
  padding: 3px 10px;
}

.section3-login-container {
  @include media("retina") {
  }
  @include media("screen", ">bp1Width", "<maxWidth") {
  }
  @include media("screen", ">minWidth", "<bp1Width") {
  }
  @include media("screen", "<minWidth") {
  }
}

.section3-login-remember-container {
  margin-top: 1pc;
  @include media("retina") {
  }
  @include media("screen", ">bp1Width", "<maxWidth") {
    margin-top: 1pc;
  }
  @include media("screen", ">minWidth", "<bp1Width") {
    margin-top: 1pc;
  }
  @include media("screen", "<minWidth") {
    margin-top: 1pc;
  }
}

.login-bottom {
  background: #84bd00;
  border-radius: 60px;
  @include media("retina") {
  }
  @include media("screen", ">bp1Width", "<maxWidth") {
    background: #84bd00;
    border-radius: 60px;
  }
  @include media("screen", ">minWidth", "<bp1Width") {
    background: #84bd00;
    border-radius: 60px;
  }
  @include media("screen", "<minWidth") {
    background: #84bd00;
    border-radius: 60px;
  }
}

.under-logo-container {
  margin-top: 8pc;
  margin-left: 2.5pc;
  @include media("retina") {
  }
  @include media("screen", ">bp1Width", "<maxWidth") {
    margin-top: 8pc;
    margin-left: 2.5pc;
  }
  @include media("screen", ">minWidth", "<bp1Width") {
    margin-top: 8pc;
    margin-left: 2.5pc;
  }
  @include media("screen", "<minWidth") {
    margin-top: 8pc;
    margin-left: 2.5pc;
  }
}
